* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: rgba(10, 10, 10, 0.4);
}

body,
html {
  overflow-y: hidden;
  height: 100vh;
  animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home a {
  color: white;
}
.home a:hover {
  color: rgb(100, 100, 100);
}
#heading {
  padding: 15px;
  position: fixed;
  border-bottom: 0.5px solid rgb(80, 80, 80);
  color: white;
  top: 0px;
  width: 100%;
  z-index: 200;
  background: black;
}

#container {
  display: flex;
  height: calc(100vh - 0px);
  overflow: hidden;
}
#container i {
  background: rgba(252, 252, 252, 0.4);
  position: fixed;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 50%;
  text-align: center;
  align-content: center;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  top: calc(100vh / 2 - 20px);
  z-index: 200;
  cursor: pointer;
}

#container .cards {
  display: flex;
  height: 100%;
  align-items: center;
  background: black;
  padding: 0 0px 0 0px;
  gap: 0px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  perspective: 1000px;
}
#container .cards::-webkit-scrollbar {
  display: none;
}
#container .cards {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cards .card {
  list-style: none;
  /* background: #ff0000; */
  border-radius: 8px;
  border: 1.5px solid rgb(204, 204, 204);
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
  perspective: 500px;
  /* -webkit-box-reflect: below 1px
    linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, transparent 100%); */
}

.cards .card div:nth-child(1) {
  overflow: hidden;
  width: 70vw;
  max-width: 600px;
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 10px;
}

.cards .card div:nth-child(2),
.cards .card div:nth-child(3) {
  flex: 1;
  overflow: hidden;
  display: none;
}

.card .img img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 450px) {
  #container .cards {
    perspective: none;
  }
  .cards .card div:nth-child(1) {
    width: 80vw;
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
