body {
  background: black;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Poppins";
  position: relative;
  cursor: none;
  /* cursor: url("img/crusor_intro.png") 20 20, auto; */
  background: black;

  text-align: justify;
  text-justify: inter-cluster;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(72, 255, 240); /* Change the background color */
  color: black; /* Change the text color */
}

.home a {
  color: white;
}
.home a:hover {
  color: rgb(72, 255, 240);
}

#container > div {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 350px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
#heading {
  padding: 15px;
  position: fixed;
  border-bottom: 0.5px solid rgb(80, 80, 80);
  color: white;
  top: 0px;
  width: 100%;
  z-index: 200;
  background: black;
}
#heading p {
  width: calc(100% - 100px);
}
#container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px 0 20px;
}
#first-video {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(40px);
}

#first-video video {
  height: calc(0.56 * 80vw);
  max-height: 80vh;
  width: 80vw;
  border-radius: 10px;
/*   border: 1px solid rgb(0, 255, 255);*/
} 

#container .description {
  color: white;
  margin-bottom: 20px;
  max-width: 100%;
}
#container .description h3 {
  font-weight: 400;
}
#container .description p {
  padding: 10px 0 30px 0px;
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(180, 180, 180);
}

#container .phase {
  margin: 20px 0px 50px 0px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.gallery li {
  list-style: none;
  flex: 1;
  max-width: 450px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(72, 255, 240);
  background: rgba(255, 255, 255, 0.2);
  overflow: visible;
}
.gallery li :hover {
  /* cursor: grab; */
  scale: 1.005;
  background: rgb(255, 12, 12);
}
.gallery li img {
  height: 210px;
  object-fit: fill;
  border-radius: 15px;
  scale: 0.98;
}
.phase video {
  width: 100%;
  margin: 15px 0 15px 0;
  border-radius: 20px;
  max-height: 80vh;
  border: 2px solid rgb(72, 255, 240);
  background: rgba(60, 60, 60, 0.8);
}
